.div-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 20px;
    padding: 10px;
    border-radius: 5px;
}

.div-menu-item:hover {
    background-color: rgba(66, 68, 68, 1);
}

.text-menu-item {
    display: none;
    color: var(--color-gray);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    margin-left: 25px;
    overflow: hidden;
}

.div-menu-item img {
    margin-left: 5px;
}
