.div-menuitem-radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 20px;
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
}
.div-menuitem-radio > div {
    display: none;
}
.div-menuitem-radio > img {
    display: none;
}
.div-menuitem-radio:hover {
    background-color: rgba(66, 68, 68, 1);
}
.text-menu-item-radio {
    color: var(--color-gray);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    margin-left: 25px;
    overflow: hidden;
    width: 50%;
}
/* .input-radio {
    margin: 8px;
} */
.div-container {
    display: block;
    position: relative;
    width: 35px;
    margin: 10px 4px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
}
.div-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 35px;
    background-color: rgba(66, 68, 68, 1);
    border-radius: 15px;
    border: 1px solid rgba(168, 224, 255, 1);
    background-image: url('../../image/icon-moon.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 7px;
  }
  
  /* On mouse-over, add a grey background color */
.div-container:hover input ~ .checkmark {
    background-color: rgba(33, 33, 33, 1);
  }
  
/* When the checkbox is checked, add a blue background */
.div-container input:checked ~ .checkmark {
    /* background-color: #2196F3; */
    background-position-x: 5px;
}
  
  /* Create the checkmark/indicator (hidden when not checked) 
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}*/
  
  /* Show the checkmark when checked 
.div-container input:checked ~ .checkmark:after {
    display: block;
  }*/
  
  /* Style the checkmark/indicator 
.div-menuitem-radio .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/