.side-bar-main {
    --color-black: rgba(36, 38, 37, 1);
    --color-gray: rgba(192, 191, 189, 1);
    --color-light-purple: rgba(164, 146, 255, 1);

    background-color: var(--color-black);
    width: 100px;
    height: 100%;
}
.side-bar-main:hover {
    width: 250px;
}
.side-bar-main > ul {
    padding-inline-start: 0px;
}
.side-bar-main:hover > ul > div > div {
    display: inline-block;
}
.side-bar-main > ul:nth-child(2) {
    height: 65%;
}
.side-bar-main:hover > ul:nth-child(3) img {
    display: inline-block;
}
.side-bar-main:hover .div-usermail {
    display: inline-block;
}
.side-bar-main:hover .div-username {
    display: inline-block;
}
.text-light {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    color: #EFEFEF;
}

.div-user-info {
    position: relative;
    display: grid;
    grid-template-areas: 'av name name'
        'av mail mail';
    padding: 25px;
}

.div-ava {
    grid-area: av;
    background-color: var(--color-light-purple);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
.div-username {
    display: none;
    grid-area: name;
    margin: 0px 5px;
}
.div-usermail {
    display: none;
    grid-area: mail;
    margin: 0px 5px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-gray);
}
.div-arrow {
    position: absolute;
    right: -10px;
    top: 35px;
    background-color: var(--color-light-purple);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../../image/arrow_right.png');
    background-repeat: no-repeat;
    background-position: 7px 4px;
}
.side-bar-main:hover .div-arrow {
    background-image: url('../../image/arrow_left.png');
    background-position: 5px 4px;
}